<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--数据获取间隔-->
    <add key="GetDataInterval" value="5" />
    <add key="configFileName" value="AppService.exe.config"/>
    <add key="ServiceAssembly" value="ScanLogSyncService.ScanLogSyncService,ScanLogSyncService"/>
    <add key="ServiceAssembly" value="PostCheckInService.PostCheckInService,PostCheckInService"/>
  </appSettings>
</configuration>